<div class="project-tag-cloud">
<h2>Features</h2>
    <%= Project.tag_counts_on(:features).map {|tag| link_to tag.name, '#', 'data-filter' => "." +tag.name}.join(' ').html_safe %>
</div>


<div class="project-tag-cloud tech-cloud">
  <h2>Technologies</h2>

  <%= Project.tag_counts_on(:technologies).map {|tag| link_to tag.name, '#', "data-filter" => "." + tag.name.gsub(".", '-')}.join(' ').html_safe %>
</div>

<span class='clearfix'></span>

<hr />

<div id="container">  
  <% Project.all.each_with_index do |project, i| %>
  <div class="project-div shadowbox-link <%= %{n n n last}[i % 4] %> <%= project.technologies.join(" ").gsub(".", '-') %> <%= project.features.join(" ") %>" data-shadowbox='project-<%= i %>'>
    <%= image_tag project.photo(:thumb)  %>
  </div>
  <% end %>
</div>

<% Project.all.each_with_index do |project, i|  %>
  <div id="project-<%= i %>" style="display:none;">
    <h2><%= project.name %></h2>
    <hr />
    <%= image_tag project.photo(:large)  %>
    <div id="project-description">
      <p><%= project.description %></p>
      <span class="year"><strong><%= project.year %></strong></span>
    </div>
    <span class="clearfix"></span>
    <hr />
    <div class="project-shadowbox-bottom">
      <div id="link">
        <h3>Link</h3>
        <%= link_to project.link, project.link %>
      </div>
      <div id="technologies">
        <h3>Technologies</h3>
        <%= project.technology_list %>
      </div>
      <div id="features">  
        <h3>Features</h3>
        <%= project.feature_list %>
      </div>
    </div>
  </div>
<% end %>

<script>
 var $container = $('#container');

     // filter buttons
     $('.project-tag-cloud a').click(function(){
       var selector = $(this).attr('data-filter');
       $container.isotope({ filter: selector });
       return false;
     });


       // switches selected class on buttons
       $('#options').find('.option-set a').click(function(){
         var $this = $(this);

         // don't proceed if already selected
         if ( !$this.hasClass('selected') ) {
           $this.parents('.option-set').find('.selected').removeClass('selected');
           $this.addClass('selected');
         }

       });


     $(function(){

       $container.isotope({
         itemSelector : '.project-div'
       });

     });
</script>


