<div class="project-tag-cloud">
<h2>Features</h2>
    <%= Project.tag_counts_on(:features).map {|tag| link_to tag.name, '#', :id => tag.name}.join(' ').html_safe %>
</div>


<div class="project-tag-cloud tech-cloud">
  <h2>Technologies</h2>

  <%= Project.tag_counts_on(:technologies).map {|tag| link_to tag.name, '#', :id => tag.name}.join(' ').html_safe %>
</div>

<span class='clearfix'></span>

<hr />

<div id="container">  
  <% Project.all.each_with_index do |project, i| %>
  <div class="project-div <%= %{n n n last}[i % 4] %> <%= project.technologies.join(" ") %> <%= project.features.join(" ") %>">
    <%= image_tag project.photo(:thumb), :width=>"210", :height=>"130"  %>
  </div>
  <% end %>
</div>

<% content_for :head do %>
<script>
  $(document).ready(function() {
          
    $('.project-tag-cloud a').click(function(){
      var selector = $(this).attr('id');
      $('#container').isotope({ filter: "." + selector, animationEngine: "jquery" });
      return false;
    });
    
  });
</script>
<% end %>


