<%- @page_title = "Create Project" -%>

<%= link_to('&laquo; Back to List'.html_safe, staff_projects_path, :class => 'back-link') %>

<div class="reaction_type new">
  <h1><%= @page_title %></h1>

  <%= form_for([:staff, @project], :html => {:multipart => true}) do |f| -%>
    <%= render(:partial => "form", :locals => {:f => f}) %>
    <div id="operations">
      <%= submit_tag("Create Project") %>
      <input type="button" value="Cancel" class='cancel-button' onclick="window.location.href='<%= staff_projects_path %>';" />
    </div>
  <%- end -%>
</div>
